@font-face {
  font-family: "P22 Underground";
  src: local("P22Underground"),
    url("../fonts/P22 Johnston Underground Regular.ttf") format("truetype");
}

html {
  font-family: "P22 Underground";
  box-sizing: border-box;
  min-height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  background-color: black;
}

// ====== SCROLLBAR ======
::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none white;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background: #666;
  border: 0px none white;
  border-radius: 50px;
}

// ====== NAVBAR ======

.nav {
  min-width: 100vw;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  letter-spacing: 3px;
  position: fixed;
  z-index: 10;

  img {
    width: 92px;
    height: 46px;
    margin-left: 10px;
  }

  ul {
    display: flex;
  }

  li {
    list-style-type: none;
    margin: 1rem;
    a {
      text-decoration: none;
      color: white;
      transition: all 0.3s ease-in-out;
    }

    a:hover {
      color: rgb(208, 208, 208);
    }
  }

  .signup {
    border: 2px solid white;
    margin-right: 10px;
    padding: 15px 10px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    transition: 0.3s all;
  }

  .signup:hover {
    background-color: white;
    color: black;
  }
}

// ====== MAIN CONTENT ======

.longshotvideo {
  width: 100vw;
  height: 99.5vh;
  object-fit: cover;
}

.fishcatlogo {
  width: 300px;
  height: 150px;
  margin-top: 10px;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(200%, -445%);
}

.album-covers {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  z-index: 9;
  transform: translate(0%, -190%);
}

.albums {
  width: 290px;
  border: 2px solid white;
  margin-bottom: 20px;
}

.listen-link {
  border: 2px solid white;
  padding: 15px 10px;
  text-decoration: none;
  color: white;
  padding: 10px 15px 6px 15px;
  font-size: 17px;
  transition: 0.3s all;
  width: 55px;
  margin-left: 100px;
}

.listen-link:hover {
  background-color: white;
  color: black;
}

// ====== FOOTER ======
footer {
  width: 100vw;
  padding: 15px 0;
  font-size: 8px;
  background-color: black;
  border-top: 2px solid white;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
}

.icons {
  font-size: 15px;
  margin-left: 15px;
  color: white;
  display: flex;
  justify-content: center;
}

.icon-style {
  margin: 0 2.5px;
  height: 13px;
  color: white;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: rgb(208, 208, 208);
  }
}

.term {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.terms {
  color: white;
  text-decoration: none;
  margin: 0 3px;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: rgb(208, 208, 208);
  }
}

.footer-spacers {
  color: white;
}
